workflows/heygen-shotstack-overlays.json
{
  "name": "HeyGen Video with Shotstack Overlays",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heygen-shotstack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "heygen-shotstack-webhook"
    },
    {
      "parameters": {
        "content": "## HeyGen + Shotstack Video Overlays\n\nAlternative to Cloudinary using Shotstack's video editing API.\n\n**Shotstack Features:**\n- Professional video editing API\n- Text overlays with animations\n- Image/logo overlays\n- Transitions and effects\n- Lower thirds, titles, captions\n\n**Required Environment Variables:**\n- HEYGEN_API_KEY\n- SHOTSTACK_API_KEY\n- SHOTSTACK_STAGE (sandbox or v1)",
        "height": 300,
        "width": 400
      },
      "id": "workflow-note",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, -50]
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare request\nconst input = $input.first().json;\n\n// HeyGen settings\nconst avatarId = input.avatar_id || 'Kristin_pubblic_2_20240108';\nconst voiceId = input.voice_id || '1bd001e7e50f421d891986aad5158bc8';\nconst script = input.script || input.text || 'Hello, this is a test video.';\n\n// Video settings\nconst width = input.width || 1920;\nconst height = input.height || 1080;\nconst fps = input.fps || 25;\n\n// Overlay configuration for Shotstack\nconst overlays = input.overlays || [];\n\n// Shotstack stage (sandbox for testing, v1 for production)\nconst shotstackStage = $env.SHOTSTACK_STAGE || 'sandbox';\n\nreturn {\n  json: {\n    avatarId,\n    voiceId,\n    script,\n    width,\n    height,\n    fps,\n    overlays,\n    shotstackStage\n  }\n};"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatarId }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.script }}\",\n        \"voice_id\": \"{{ $json.voiceId }}\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": {{ $json.width }},\n    \"height\": {{ $json.height }}\n  }\n}",
        "options": {}
      },
      "id": "create-heygen-video",
      "name": "Create HeyGen Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "heygen-api-key",
          "name": "HeyGen API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst previousData = $('Prepare Request').first().json;\n\nif (response.error) {\n  throw new Error(`HeyGen API Error: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nconst videoId = response.data?.video_id;\n\nif (!videoId) {\n  throw new Error('No video_id returned from HeyGen API');\n}\n\nreturn {\n  json: {\n    videoId,\n    ...previousData,\n    pollCount: 0,\n    maxPolls: 60,\n    status: 'processing'\n  }\n};"
      },
      "id": "extract-video-id",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-processing",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.videoId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-status",
      "name": "Check Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "heygen-api-key",
          "name": "HeyGen API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst previousData = $('Extract Video ID').first().json;\n\nconst status = statusResponse.data?.status;\nconst videoUrl = statusResponse.data?.video_url;\nconst duration = statusResponse.data?.duration;\nconst pollCount = previousData.pollCount + 1;\n\nreturn {\n  json: {\n    ...previousData,\n    pollCount,\n    status,\n    videoUrl,\n    duration,\n    isComplete: status === 'completed',\n    isFailed: status === 'failed',\n    shouldContinuePolling: status === 'processing' && pollCount < previousData.maxPolls\n  }\n};"
      },
      "id": "process-status",
      "name": "Process Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-complete",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-complete",
      "name": "Video Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-poll",
              "leftValue": "={{ $json.shouldContinuePolling }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-polling",
      "name": "Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 550]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-overlays",
              "leftValue": "={{ $json.overlays.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-overlays",
      "name": "Has Overlays?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build Shotstack Edit JSON for video overlays\nconst input = $input.first().json;\nconst overlays = input.overlays || [];\nconst videoDuration = input.duration || 30;\n\n// Build clips array - start with the HeyGen video as background\nconst clips = [];\n\n// Main video clip\nclips.push({\n  asset: {\n    type: 'video',\n    src: input.videoUrl\n  },\n  start: 0,\n  length: videoDuration\n});\n\n// Build overlay clips\nconst overlayClips = [];\n\nfor (const overlay of overlays) {\n  const startTime = overlay.startTime || 0;\n  const endTime = overlay.endTime || videoDuration;\n  const duration = endTime - startTime;\n  \n  if (overlay.type === 'text') {\n    // Text overlay\n    overlayClips.push({\n      asset: {\n        type: 'title',\n        text: overlay.text || 'Sample Text',\n        style: overlay.style || 'minimal',\n        color: overlay.color || '#ffffff',\n        size: overlay.size || 'medium',\n        background: overlay.background || null,\n        position: overlay.position || 'bottom'\n      },\n      start: startTime,\n      length: duration,\n      position: overlay.position || 'bottom',\n      offset: {\n        x: overlay.xOffset || 0,\n        y: overlay.yOffset || -0.35\n      },\n      transition: overlay.transition || null\n    });\n    \n  } else if (overlay.type === 'image' || overlay.type === 'logo') {\n    // Image/Logo overlay\n    overlayClips.push({\n      asset: {\n        type: 'image',\n        src: overlay.src || overlay.url\n      },\n      start: startTime,\n      length: duration,\n      fit: overlay.fit || 'none',\n      scale: overlay.scale || 0.2,\n      position: overlay.position || 'topRight',\n      offset: {\n        x: overlay.xOffset || -0.05,\n        y: overlay.yOffset || 0.05\n      },\n      opacity: overlay.opacity || 1\n    });\n    \n  } else if (overlay.type === 'lowerThird') {\n    // Lower third title\n    overlayClips.push({\n      asset: {\n        type: 'title',\n        text: overlay.text || 'Speaker Name',\n        style: 'blockbuster',\n        color: overlay.color || '#ffffff',\n        size: 'small'\n      },\n      start: startTime,\n      length: duration,\n      position: 'bottomLeft',\n      offset: {\n        x: 0.1,\n        y: -0.1\n      },\n      transition: {\n        in: 'slideLeft',\n        out: 'slideLeft'\n      }\n    });\n    \n  } else if (overlay.type === 'caption') {\n    // Caption/subtitle overlay\n    overlayClips.push({\n      asset: {\n        type: 'title',\n        text: overlay.text,\n        style: 'subtitle',\n        color: overlay.color || '#ffffff',\n        size: 'small',\n        background: '#000000'\n      },\n      start: startTime,\n      length: duration,\n      position: 'bottom',\n      offset: {\n        x: 0,\n        y: -0.1\n      }\n    });\n  }\n}\n\n// Build the Shotstack edit payload\nconst editPayload = {\n  timeline: {\n    background: '#000000',\n    tracks: [\n      {\n        clips: overlayClips\n      },\n      {\n        clips: clips\n      }\n    ]\n  },\n  output: {\n    format: 'mp4',\n    resolution: 'hd',\n    fps: input.fps || 25\n  }\n};\n\nconst shotstackBaseUrl = input.shotstackStage === 'v1' \n  ? 'https://api.shotstack.io/v1'\n  : 'https://api.shotstack.io/stage';\n\nreturn {\n  json: {\n    videoId: input.videoId,\n    originalVideoUrl: input.videoUrl,\n    overlays: input.overlays,\n    editPayload,\n    shotstackBaseUrl\n  }\n};"
      },
      "id": "build-shotstack-edit",
      "name": "Build Shotstack Edit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.shotstackBaseUrl }}/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.editPayload) }}",
        "options": {}
      },
      "id": "submit-shotstack",
      "name": "Submit to Shotstack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2750, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shotstack-api-key",
          "name": "Shotstack API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst previousData = $('Build Shotstack Edit').first().json;\n\nif (!response.success || !response.response?.id) {\n  throw new Error('Shotstack render submission failed');\n}\n\nreturn {\n  json: {\n    renderId: response.response.id,\n    ...previousData,\n    shotstackPollCount: 0,\n    shotstackMaxPolls: 120\n  }\n};"
      },
      "id": "extract-render-id",
      "name": "Extract Render ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 100]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-shotstack",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3250, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.shotstackBaseUrl }}/render/{{ $json.renderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-shotstack-status",
      "name": "Check Shotstack Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shotstack-api-key",
          "name": "Shotstack API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst previousData = $('Extract Render ID').first().json;\n\nconst status = statusResponse.response?.status;\nconst url = statusResponse.response?.url;\nconst pollCount = previousData.shotstackPollCount + 1;\n\nreturn {\n  json: {\n    ...previousData,\n    shotstackPollCount: pollCount,\n    shotstackStatus: status,\n    processedVideoUrl: url,\n    isRenderComplete: status === 'done',\n    isRenderFailed: status === 'failed',\n    shouldContinueShotstackPolling: ['queued', 'fetching', 'rendering', 'saving'].includes(status) && pollCount < previousData.shotstackMaxPolls\n  }\n};"
      },
      "id": "process-shotstack-status",
      "name": "Process Shotstack Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3750, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "render-complete",
              "leftValue": "={{ $json.isRenderComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-render-complete",
      "name": "Render Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4000, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "continue-shotstack",
              "leftValue": "={{ $json.shouldContinueShotstackPolling }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-shotstack-polling",
      "name": "Continue Shotstack Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4000, 350]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    videoId: input.videoId,\n    originalVideoUrl: input.originalVideoUrl,\n    processedVideoUrl: input.processedVideoUrl,\n    overlaysApplied: input.overlays,\n    renderEngine: 'shotstack'\n  }\n};"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4250, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    videoId: input.videoId,\n    originalVideoUrl: input.videoUrl,\n    processedVideoUrl: input.videoUrl,\n    overlaysApplied: [],\n    message: 'No overlays requested - returning original video'\n  }\n};"
      },
      "id": "return-original",
      "name": "Return Original Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: false,\n    error: 'Video generation or rendering failed',\n    details: $json\n  }\n};"
      },
      "id": "handle-failure",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4500, 150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2500, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Create HeyGen Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HeyGen Video": {
      "main": [
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video ID": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Process Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Status": {
      "main": [
        [
          {
            "node": "Video Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Complete?": {
      "main": [
        [
          {
            "node": "Has Overlays?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Polling?": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Overlays?": {
      "main": [
        [
          {
            "node": "Build Shotstack Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Original Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shotstack Edit": {
      "main": [
        [
          {
            "node": "Submit to Shotstack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Shotstack": {
      "main": [
        [
          {
            "node": "Extract Render ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Render ID": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Shotstack Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Shotstack Status": {
      "main": [
        [
          {
            "node": "Process Shotstack Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Shotstack Status": {
      "main": [
        [
          {
            "node": "Render Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Complete?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Shotstack Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Shotstack Polling?": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Original Video": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Failure": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "heygen",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "shotstack",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "video",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
